Repository akvo/akvo-rsr, pull requests merged in 2022-10, with the labels that each got.

#5134 [#5133] Fix Project found incorrect programme
  akvo/rsr/spa/app/modules/editor/project-init-handler.js
Labels: Bug, Type: Project editor

#5150 [#5148] Fix bug saving description of a project
  akvo/rsr/spa/app/modules/editor/project-init-handler.js
Labels: Bug, Quick Fix, Priority: Medium, For Production

#5154 Resolve FE: A4A : New issue (from Kath Skype)
  akvo/rsr/spa/app/modules/editor/action-types.js
  akvo/rsr/spa/app/modules/editor/actions.js
  akvo/rsr/spa/app/modules/editor/project-init-handler.js
  akvo/rsr/spa/app/modules/editor/reducer.js
  akvo/rsr/spa/app/modules/editor/section5/indicators.jsx
Labels: Bug, Type: Project editor, For Production

#5144 [#5142] Add a cumulative option in the project editor
  akvo/rsr/spa/app/modules/editor/section5/indicators.jsx
Labels: Feature request

#5147 [#5140] stabilize period update aggregations
  akvo/rsr/admin.py
  akvo/rsr/management/commands/link_results_framework_to_parent_project.py
  akvo/rsr/management/commands/recalculate_periods.py
  akvo/rsr/management/commands/recalculate_program_aggregation.py
  akvo/rsr/management/commands/run_aggregation_jobs.py
  akvo/rsr/migrations/0221_indicatorperiodaggregationjob.py
  akvo/rsr/models/__init__.py
  akvo/rsr/models/aggregation_job.py
  akvo/rsr/models/cron_job.py
  akvo/rsr/models/employment.py
  akvo/rsr/models/project.py
  akvo/rsr/models/result/disaggregation.py
  akvo/rsr/models/result/disaggregation_aggregation.py
  akvo/rsr/models/result/indicator_period.py
  akvo/rsr/models/result/indicator_period_data.py
  akvo/rsr/tests/iati_export/test_iati_export.py
  akvo/rsr/tests/rest/test_permissions.py
  akvo/rsr/tests/rest/test_project_overview.py
  akvo/rsr/tests/results_framework/test_aggregation.py
  akvo/rsr/tests/results_framework/test_disaggregation_aggregation.py
  akvo/rsr/tests/results_framework/test_disaggregation_contribution.py
  akvo/rsr/tests/results_framework/test_results_framework.py
  akvo/rsr/tests/usecases/jobs/__init__.py
  akvo/rsr/tests/usecases/jobs/test_aggregation.py
  akvo/rsr/tests/usecases/test_period_update_aggregation.py
  akvo/rsr/tests/utils.py
  akvo/rsr/usecases/jobs/__init__.py
  akvo/rsr/usecases/jobs/aggregation.py
  akvo/rsr/usecases/jobs/cron.py
  akvo/rsr/usecases/period_update_aggregation.py
  akvo/settings/90-finish.conf
  akvo/templates/indicator_aggregation/fail_message.html
  akvo/templates/indicator_aggregation/fail_subject.txt
  akvo/templates/indicator_aggregation/success_message.html
  akvo/templates/indicator_aggregation/success_subject.txt
  scripts/deployment/pip/requirements/2_rsr.txt
  scripts/deployment/pip/requirements/3_dev.txt
  scripts/deployment/pip/requirements/production.in
Labels: Bug, Priority: High, For Production
