Repository akvo/akvo-rsr, pull requests merged in 2022-04, with the labels that each got.

#4922 [#4921] Fix blanks enumerator preview/access link
  akvo/rsr/spa/app/modules/results/EnumeratorPage.jsx
Labels: Bug

#4929 [#4928] Fix qualitative indictors blank screen
  akvo/rsr/spa/app/modules/program/ProgramPeriod.jsx
  akvo/rsr/spa/app/modules/program/ProjectSummary.jsx
  akvo/rsr/spa/app/modules/program/indicator.jsx
Labels: Bug

#4932 [#4930] IATI errors links
  akvo/iati/checks/fields/budgets.py
  akvo/iati/checks/fields/transactions.py
  akvo/rsr/management/commands/perform_iati_checks.py
  akvo/rsr/spa/app/modules/editor/action-types.js
  akvo/rsr/spa/app/modules/editor/reducer.js
  akvo/rsr/spa/app/modules/editor/section6/budget-items/budget-items.jsx
  akvo/rsr/spa/app/modules/editor/section6/budget-items/validations.js
  akvo/rsr/spa/app/modules/editor/section6/section6.jsx
  akvo/rsr/spa/app/modules/editor/section6/transactions/transactions.jsx
  akvo/rsr/spa/app/modules/editor/styles.scss
  akvo/rsr/spa/app/modules/iati/new-export-modal.jsx
  akvo/rsr/spa/app/utils/item-array.jsx
Labels: Type: IATI

#4945 [#4377] Fix Recipient Region blank screen
  akvo/rsr/spa/app/modules/editor/section7/recipient-regions/recipient-regions.jsx
  akvo/rsr/spa/app/utils/final-field.jsx
Labels: Bug, Type: Project editor, javascript
